<footer class="main-footer">
  <!--<strong> &copy; {% now "Y" %} - Developed by <a href="https://elevatexindia.com" target="_blank"><img src="https://elevatexindia.com/static/img/landing/intro/ElevateXIndia_Logo.png" alt="ElevateXIndia" srcset="https://elevatexindia.com/static/img/landing/intro/ElevateXIndia_Logo.png" height="48" width="125"></a></strong>-->
  <strong> &copy; {% now "Y" %} - Developed by Shreya,Sristi,Harvinder,Sahil,Krishnaveer</strong>
  <div class="float-right d-none d-sm-inline-block">
      <!--<b><a href="mailto:support@elevatexindia.com">support@elevatexindia.com</a></b>-->
      <b>College ERP Project</b></b>
      <b>Version</b> 1.0.1
  </div>
</footer>